doctype html
html
  head
    title Users List
  body
    h1 Users
    ul
      each user in users
        li
          p ID: #{user._id}
          p Name: #{user.name}
          p Email: #{user.email}
          if user.age
            p Age: #{user.age}
          a(href=`/users/db/${user._id}`) Details
